/*CSS for rainbow text*/
.rainbow {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.rainbow-text {
  position: relative;
  color: #000;
  font-size: 6em;
  font-family: 'Pacifico', sans-serif;
  background: #fff;
  mix-blend-mode: multiply;
  overflow: hidden;
  text-shadow: 0 2px 4px rgba(0,0,0,0.5);
  padding: 2px 4px 6px;
  margin: -2px -4px -6px;
}

.rainbow-text::before {
  content: "";
  position: absolute;
  top:0;right:0;bottom:0;left:-100%;
  background: white repeating-linear-gradient(90deg, #14ffe9 0%, #ffc800 16.66666%, #ff00e0 33.33333%, #14ffe9 50.0%);
  mix-blend-mode: screen;
  pointer-events: none;
  animation: move 1s linear infinite;
}

@media(max-width: 768px) {
  .rainbow-text {
    font-size: 4em;
  }
}

@keyframes move {
  0%{transform: translateX(0);}
  100%{transform: translateX(50%);}
}

@supports not (mix-blend-mode: multiply) {
  .rainbow-text {
  -webkit-text-fill-color: transparent;
  background-clip: text !important;
  background: white repeating-linear-gradient(90deg, #14ffe9, #ffc800, #ff00e0, #14ffe9);
  text-shadow: none;
  }
  .rainbow-text::before{ content: none; }
}